<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parker's Portfolio</title>
    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav-logo">Parker Schwendeman</a>
            </div>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#home" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#skills" class="nav-link">Skills</a></li>
                    <li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </div>

            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <section class="home" id="home">
            <div class="home-container bd-grid">
                <h1 class="home-title"><span>"If you can create something time cannot erode, something which ignores the eccentricities of particular eras or moments, something truly timeless … this is the “ultimate victory"</span><br>–  Ferdinand Porsche</h1>

                <div class="home-scroll">
                    <a href="#about" class="home-scroll-link"><i class='bx bx-left-arrow-alt' ></i>SCROLL DOWN</a>
                </div>

                <img src="porsche.png" alt="Porsche Sketch" class="home-img">
            </div>
        </section>
    

        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about-container bd-grid">
                <div class="about-img">
                    <img src="garden.png" alt="John Doe image">
                </div>

                <div>
                    <h2 class="about-subtitle">I believe with great design, anything is possible.</h2>
                    <span class="about-profession">Digital Design and Development</span>
                    <p class="about-text"></p>

                    <div class="about-social">Hello, I’m Parker Schwendeman, a recent graduate of British Columbia Institute of Technology (BCIT) with a Digital Design and Development Diploma currently in Vancouver.
                        <a href="#" class="about-social-icon"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" class="about-social-icon"><i class='bx bxl-github'></i></a>
                        <a href="#" class="about-social-icon"><i class='bx bxl-instagram'></i></a>
                    </div>
                </div>   
            </div>
        </section>

        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills-container bd-grid">
                <div class="skills-box">
                    <h3 class="skils-subtitle">Development</h3>

                    <span class="skills-name">HTML</span>
                    <span class="skills-name">CSS</span>
                    <span class="skills-name">JAVASCRIPT</span>
                    <span class="skills-name">NODE</span>
                    <span class="skills-name">REACT</span>
                    <span class="skills-name">NEXT.JS</span>
                    <span class="skills-name">GITHUB</span>
                    
                    <h3 class="skils-subtitle">Design</h3>

                    <span class="skills-name">FIGMA</span>
                    <span class="skills-name">ILLUSTRATOR</span>
                    <span class="skills-name">PHOTOSHOP</span>
                    <span class="skills-name">AFTER EFFECTS</span>
                    <span class="skills-name">PREMIERE PRO</span>


                </div>

                <div class="skills-img">
                    <img src="placeholder-image.jpg" alt="skills image">
                </div>
            </div>
        </section>

        <section class="portfolio section" id="portfolio">
            <h2 class="section-title">Portfolio</h2>

            <div class="portfolio-container bd-grid">
                <div class="portfolio-img">
                    <img src="placeholder-image.jpg" alt="work image">

                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">View Details</a>
                    </div>
                </div>

                <div class="portfolio-img">
                    <img src="placeholder-image.jpg" alt="work image">

                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">View Details</a>
                    </div>
                </div>

                <div class="portfolio-img">
                    <img src="placeholder-image.jpg" alt="work image">

                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">View Details</a>
                    </div>
                </div>

                <div class="portfolio-img">
                    <img src="placeholder-image.jpg" alt="work image">

                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">View Details</a>
                    </div>
                </div>

                <div class="portfolio-img">
                    <img src="placeholder-image.jpg" alt="work image">

                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">View Details</a>
                    </div>
                </div>

                <div class="portfolio-img">
                    <img src="placeholder-image.jpg" alt="work image">

                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">View Details</a>
                    </div>
                </div>

            </div>
        </section>

        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact-container bd-grid">
                <div class="contact-info">
                    <h3 class="contact-subtitle">EMAIL</h3>
                    <span class="contact-text">info.mail.com</span>

                    <h3 class="contact-subtitle">PHONE</h3>
                    <span class="contact-text">+20 999-999</span>

                    <h3 class="contact-subtitle">ADDRESS</h3>
                    <span class="contact-text">Sacramento, California, USA</span>
                </div>

                <form action="" class="contact-form">
                    <div class="contact-inputs">
                        <input type="text" placeholder="Name" class="contact-input">
                        <input type="email" placeholder="Email" class="contact-input">
                    </div>

                    <textarea name="" id="" cols="0" rows="10" class="contact-input"></textarea>

                    <input type="submit" value="Send" class="contact-button">
                </form>
            </div>
        </section>

    </main>

    <footer class="footer section">
        <div class="footer-container bd-grid">
            <div class="footer-data">
                
            </div>

            <div class="footer-data">
                <h2 class="footer-title">Parker Schwendeman</h2>
                <ul>
                    <li><a href="#home" class="footer-link">Home</a></li>
                    <li><a href="#about" class="footer-link">About</a></li>
                    <li><a href="#skills" class="footer-link">Skills</a></li>
                    <li><a href="#portfolio" class="footer-link">Portfolio</a></li>
                    <li><a href="#contact" class="footer-link">Contact</a></li>
                </ul>
            </div>

            <div class="footer-data">
                <h2 class="footer-title">FOLLOW</h2>

                <a href="#" class="footer-social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer-social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer-social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/script.js"></script>
</body>
</html>